@import url("reset.css");
@import url("01header.css");
@import url("02introduction.css");
@import url("03about.css");
@import url("04gallery.css");
@import url("05cta.css");
@import url("06footer.css");

:root{
   --gray: #9C9C9C;
   --lilac: #A567A3;
   --pink: #FF6296;
   --white: #FFDDF5;
   --dark-gray: #2E2E2E;
   --black: #170C17;
   --purple: #5F2268;

   --main-font: 'Ubuntu', sans-serif;
   --title-font: 'Crafty Girls', cursive;

   --sm: 0.75rem;
   --nm: 1.125rem;
   --lg: 2rem;
   --xl: 3rem;

   --font-size-sm: clamp(calc(var(--sm) / 2), calc((var(--sm) / 3) + 2vw), var(--sm)) ;
   --font-size-nm: clamp(calc(var(--nm) / 2), calc((var(--nm) / 3) + 2vw), var(--nm));
   --font-size-lg: clamp(calc(var(--lg) / 2), calc((var(--lg) / 3) + 2vw), var(--lg));
   --font-size-xl: clamp(calc(var(--xl) / 2), calc((var(--xl) / 3) + 2vw), var(--xl));

   --header-height: 17vh;
}

*{
   box-sizing: border-box;
}

::selection{
   background-color: var(--purple);
   color: var(--white);
}

html{
   scrollbar-color: var(--lilac) var(--pink);
   scrollbar-width: calc(1vw + 1vh);
}

::-webkit-scrollbar{
    width: calc(1vw + 1vh);
    background-image: linear-gradient(125deg, var(--pink) -100%, var(--white), var(--lilac) 200%);
}

::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px var(--gray);
}

::-webkit-scrollbar-thumb{
    background-image: linear-gradient(125deg, var(--lilac) -50%, var(--white), var(--pink) 150%);
    outline: none;
    border-radius: calc(.5vw + .5vh);
}

body{
   font-family: var(--main-font);
   background-image: linear-gradient(125deg, var(--lilac) -50%, var(--white), var(--pink) 150%);
   background-repeat: no-repeat;
   background-size: 350%;
}

.header{
   position: relative;
   z-index: 1;
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: var(--header-height);
   margin-bottom: calc(100vh - var(--header-height));
}

.cta{
   padding: 20vh 3rem;

   display: flex;
   align-items: center;
}

.about{
   display: flex;
   padding: 8vh 0 12vh;
   align-items: center;
}

:has(.about) .header{
   margin-bottom: 0;
}