@import url("reset.css");
@import url("01header.css");

:root{
   --gray: #9C9C9C;
   --lilac: #A567A3;
   --pink: #FF6296;
   --white: #FFAADE;
   --dark-gray: #2E2E2E;
   --black: #170C17;
   --purple: #5F2268;

   --main-font: 'Ubuntu', sans-serif;
   --title-font: 'Crafty Girls', cursive;

   --font-size-sm: 0.75rem;
   --font-size-nm: 1.125rem;
   --font-size-lg: 2rem;
   --font-size-xl: 3rem;
}

*{
   box-sizing: border-box;
}

body{
   font-family: var(--main-font);
}

.header{
   position: relative;
   z-index: 1;
   display: flex;
   justify-content: space-between;
   align-items: center;
}