.header::after{
   content: "";
   inset: 0;
   position: absolute;
   background-image: linear-gradient(140deg, var(--lilac) -40%, var(--gray), var(--pink) 140%);
   z-index: -1;
   mix-blend-mode: multiply;
}

:has(.about) .header::after{
   background-color: var(--gray);
   background-blend-mode: multiply;
}

.header--banner{
   position: absolute;
   height: 100vh;
   width: 100%;
   z-index: -1;
   align-self: flex-start;
   background-image: url("../img/banner-background2.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
}

:has( > .header--logo){
   height: 75%;
   margin: 0 2rem;
}

.header--logo{
   height: 100%;
}

.header--navigation{
   margin-right: 9rem;
}

.header--navigation--list{
   display: flex;
   gap: 4em;
}

.header--navigation--list--item--link{   
   display: inline-block;
   text-decoration: none;
   color: transparent;
   background-image: linear-gradient(160deg, var(--white) -30%, var(--pink) 30%, var(--white) 105%, var(--pink) 130%);
   background-clip: text;
   -webkit-background-clip: text;
   font-size: var(--font-size-nm);
   will-change: transform;
   transition: transform .75s ease-in-out, filter 1s ease-in-out;   
}

.header--navigation--list--item--link:hover{
   transform: translate(2px, -3px);
   filter: brightness(1.25); 
   transition: transform 0.5s ease, filter 1s ease-in-out;
}