.introduction--title{
   font-family: var(--title-font);
   font-size: var(--font-size-xl);
   line-height: var(--font-size-xl);
   font-weight: bold;
   padding: 1em 0 0.5em;
   text-align: center;
   color: transparent;
   background-image: linear-gradient(160deg , var(--lilac) -15%, var(--pink) 115%);
   background-clip: text;
   -webkit-background-clip: text;
}

.introduction--text{
   width: 80ch;
   color: var(--dark-gray);
   text-align: justify;
   display: block;
   margin: 0 auto;
   line-height: 2em;
   text-indent: 3ch;
   font-size: var(--font-size-nm);
}

.introduction--text::first-letter{
   font-size: var(--font-size-lg);
}

.introduction--swiper{
   overflow-x: hidden;
   position: relative;
   margin-top: 2rem;
}

.introduction--swiper--arrow{
   position: absolute;
   --arrow-size: calc(3vh + 3vw);
   width: var(--arrow-size);
   height:var(--arrow-size);
   border-radius: var(--arrow-size);
   background-color: var(--gray);
   background-image: linear-gradient(140deg, var(--white) -50%, var(--lilac), var(--white) 150%);
   border: 2px solid var(--white);
   top: calc(50% - (var(--arrow-size) / 2));
   z-index: 1;
   cursor: pointer;
   transition: filter 1s linear, transform 1s ease-in-out;   
}

.introduction--swiper--arrow:hover{
   filter: brightness(1.3);
   transform: translateY(-5%);
   /* transform: scale(1.05); está fazendo a seta se mover  */
}

.arrow-previous{
   left: calc(2vh + 2vw);   
}

.arrow-next{
   right: calc(2vh + 2vw);
}

.introduction--swiper--arrow::after{
   content: "";
   width: 15%;
   height: 15%;
   background-color: transparent;
   border-top: 2px solid var(--white);
   position: absolute;
   top: 50%;
   transition: inherit;
}

.arrow-previous::after{
   border-left: 2px solid var(--white);
   left: 50%;
   transform: translate(-25%, -50%) rotate(-45deg) skew(15deg, 15deg);
}

.arrow-next::after{
   border-right: 2px solid var(--white);
   right: 50%;
   transform: translate(25%, -50%) rotate(45deg) skew(-15deg, -15deg);
}

.introduction--swiper--list{
   display: flex;
   position: relative;
}

.introduction--swiper--list--item--image{
   width: 33.33vw;
   height: 33.33vw;
   object-fit: cover;
}