.footer{
   height: 50vh;
   background-image: linear-gradient(140deg, var(--lilac) -40%, var(--gray), var(--pink) 140%);
   mix-blend-mode: multiply;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.footer > a{
   margin: auto;
}


.footer img{
   width: 50vw;
   
}



.footer__copyright{
   text-align: center;
   line-height: 1.5;
   color: var(--white);
   margin-bottom: .5em;
}